<!--<!DOCTYPE html>-->
<!--<html lang="en">-->


<!--<link rel="stylesheet" type="text/css" href="public/css/chore.css">-->



<!--<meta charset="UTF-8">-->
<!--<title>Chores</title>-->


<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; Font Awesome CSS Icons (For cool glyphicons) &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
<!--</head>-->


<body id="testCss"><!--onload="firstMethod()" waid71fa0d88-5390-4b5b-a2f4-e45fa93d85e2="SA password protect entry checker">-->

<!-- ======= NAVIGATION BAR STARTS ======= -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard">Tasko</a>
        </div>


<!--<body onload="firstMethod()" waid71fa0d88-5390-4b5b-a2f4-e45fa93d85e2="SA password protect entry checker">-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/reward">REWARDS</a></li>
                <li><a href="/logout">LOGOUT</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://youtu.be/rbsPu1z3ugQ" target="_blank">Mystery Action!</a></li>
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav> <!-- ======= NAVIGATION BAR ENDS =======  -->



<div class="container">

    <!-- Jumbotron for Title -->
    <div class="jumbotron" style="background-color: #20315A; color: white;">
        <h1 class="text-center"><strong>
            <!--<i class="fa fa-usd" aria-hidden="true"></i>-->
            Chore List</strong></h1>
    </div>

    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="author-container">
                <!--<h1>Authors</h1>-->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Chore</td>
                        <td>Points</td>
                        <td>Complete</td>
                        <td>Mark Complete</td>
                        <td>Delete Chore</td>
                    </tr>
                    </thead>

                    <tbody id="tbody-top">
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
                <tr id="form-row">
                    <form id="chore-form" class="text-center">
                        <td colspan="1">

                        <input placeholder="Enter a Chore" id="chore-name" type="text" />
                        </td>

                        <td colspan="1">
                        <input placeholder="Enter Points" id="points" type="text" />
                        </td>

                        <td colspan="1">
                        <button type="submit" class="btn btn-primary">Add Chore</button>
                        </td>

                    </form>
                </tr>
        </div>
    </div>

</div>
<!--</body>-->
<!--</html>-->