<!-- Created by Julia 5/29/2017
Purpose: User view upon login -->

{{!-- <head> --}}
  <title>TASKO | Profile</title>
{{!-- </head> --}}

{{!-- <body> --}}
  <h1 class="text-center">CODERS WORKING</h1>
  <img src="../../app/public/images/under-construction.png" class="center-block">
  <p class="text-center"> USER PROFILE COMING SOON!</p>
  <a href="/logout" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-th-list"></span> Logout</a>


{{!-- TEST2 START --}}

{{!-- TEST2 END --}}


{{!-- EDU SCRIP START --}}
  <!-- jQuery -->
  <script src="js/edu/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="js/edu/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="js/edu/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="js/edu/jquery.waypoints.min.js"></script>
  <!-- Stellar Parallax -->
  <script src="js/edu/jquery.stellar.min.js"></script>
  <!-- Carousel -->
  <script src="js/edu/owl.carousel.min.js"></script>
  <!-- Flexslider -->
  <script src="js/edu/jquery.flexslider-min.js"></script>
  <!-- countTo -->
  <script src="js/edu/jquery.countTo.js"></script>
  <!-- Magnific Popup -->
  <script src="js/edu/jquery.magnific-popup.min.js"></script>
  <script src="js/edu/magnific-popup-options.js"></script>
  <!-- Count Down -->
  <script src="js/edu/simplyCountdown.js"></script>
  <!-- Main -->
  <script src="js/edu/main.js"></script>
  <script>
  var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

  // default example
  simplyCountdown('.simply-countdown-one', {
      year: d.getFullYear(),
      month: d.getMonth() + 1,
      day: d.getDate()
  });

  //jQuery example
  $('#simply-countdown-losange').simplyCountdown({
      year: d.getFullYear(),
      month: d.getMonth() + 1,
      day: d.getDate(),
      enableUtc: false
  });
  </script>
{{!-- EDU SCRIP END --}}

{{!-- </body> --}}