<div class="jumbotron text-center">
    <h1 id="tasko-title">tasko</h1>
</div>


<div class="text-center">
<form id="signup" name="signup" method="post" action="/signup">
    <h2>welcome to freedom</h2>
    <label for="email">Email Address</label>
    <input class="text" name="email" type="email" />
    <label for="firstname">Firstname</label>
    <input name="firstname" type="text" />
    <label for="lastname">Lastname</label>
    <input name="lastname" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <a href="/signin" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-th-list"></span>Sign In</a>
    <input class="btn btn-danger btn-md" type="submit" value="Sign Up" />

</form>
    <br>
</div>

<div class="fh5co-loader"></div>
    
    <div id="page">

        <aside id="fh5co-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(images/shopping.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <h1>Few tasks are more like the torture of Sisyphus than housework, with its endless repetition: the clean becomes soiled, the soiled is made clean, over and over, day after day. <br>—Simone de Beauvoir</h1>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/screaming.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <h1>I am never five minutes into stripping the clutter from my life before I start running into the clutter that is my life. <br>—Robert Brault</h1>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/dog.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <h1>My second favorite household chore is ironing. My first being hitting my head on the top bunk bed until I faint.  <br>—Erma Bombeck</h1>


    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>


    <!-- jQuery -->
    <script src="js/edu/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/edu/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/edu/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/edu/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="js/edu/jquery.stellar.min.js"></script>
    <!-- Carousel -->
    <script src="js/edu/owl.carousel.min.js"></script>
    <!-- Flexslider -->
    <script src="js/edu/jquery.flexslider-min.js"></script>
    <!-- countTo -->
    <script src="js/edu/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="js/edu/jquery.magnific-popup.min.js"></script>
    <script src="js/edu/magnific-popup-options.js"></script>
    <!-- Count Down -->
    <script src="js/edu/simplyCountdown.js"></script>
    <!-- Main -->
    <script src="js/edu/main.js"></script>
    <script>
    var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
    </script>
