body  {
	background-color: gray;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	font-weight: bold;
}

#testCss {
    background-color: snow;
}

#chore-name, #points {
    margin-right: 12px;
    margin-bottom: 8px;
}

#column1  {
	border-radius: 25px;
	border-style: solid;
	padding: 10px;
}

#column2  {
	border-radius: 25px;
	border-style: solid;
	padding: 10px;
}

#column3  {
	border-radius: 25px;
	border-style: solid;
	padding: 10px;
}